@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.icon {
    height: 1.3em;
}

img {
    display: inline-block;
}

.icon {
    height: 1em;
    width: 1em;
}
